<div class="card" style="margin-top: 20px;">
    <div class="card-header">
        <div style="text-align: right;">
            <app-back-button></app-back-button>
        </div>
        <h4 style="text-align:center">All DTL Sample Counts</h4>
    </div>
    <div class="card-body">

        <div class="table-responsive" style="margin-top: 25px;  ">
            <table class="table  table-striped " id="reportTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>District</th>
                        <th>Total</th>
                        <th>Pending</th>
                        <th>Ready to Print</th>
                        <th>Printed</th>
                        <th>Pass</th>
                        <th>Fail</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LAHORE</td>
                        <td>47370</td>
                        <td>557</td>
                        <td>36</td>
                        <td>46776</td>
                        <td>44474</td>
                        <td>1778</td>
                    </tr>
                    <tr>
                        <td>RAWALPINDI</td>
                        <td>17618</td>
                        <td>452</td>
                        <td>29</td>
                        <td>17103</td>
                        <td>16559</td>
                        <td>491</td>
                    </tr>
                    <tr>
                        <td>FAISALABAD</td>
                        <td>26376</td>
                        <td>374</td>
                        <td>20</td>
                        <td>29982</td>
                        <td>24914</td>
                        <td>846</td>
                    </tr>
                    <tr>
                        <td>MULTAN</td>
                        <td>29433</td>
                        <td>640</td>
                        <td>126</td>
                        <td>28646</td>
                        <td>27633</td>
                        <td>810</td>
                    </tr>
                    <tr>
                        <td>BAHAWALPUR</td>
                        <td>20723</td>
                        <td>456</td>
                        <td>49</td>
                        <td>20200</td>
                        <td>19150</td>
                        <td>893</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>