
<!-- Container-fluid starts -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-top: 2%;">
                <div class="card-header" style="    border-bottom: 4px solid #229106;">
                    <h5 style="text-align: center;">Change Password</h5>
                </div>

                <form [formGroup]="ChangePasswordForm" class="form theme-form">
                    <div class="card-body">

                        <div class="row" >
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="oldPassword">Old Password<span style="color: red;">*</span></label>
                                    <input style="border: 1px solid #9eb7cf;" type="text" formControlName="oldPassword"
                                        class="form-control" id="oldPassword" required placeholder="" required>
                                    <!-- <div *ngIf="this.changePasswordSubmitted && this.RegisterForm.controls.title.value==''"
                                        class="text text-danger">
                                       Old is required.
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="newPassword">New Password<span style="color: red;">*</span></label>
                                    <input  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" style="border: 1px solid #9eb7cf;" type="text" formControlName="newPassword"
                                        class="form-control" id="newPassword" required placeholder="" required>
                                        <div *ngIf="this.ChangePasswordForm.controls.newPassword.errors?.pattern"><span style="color: red;">Password should be atleast 8 characters long
                                            and should contain one number,one character and one special
                                            character</span></div>
                                    <div *ngIf="this.changePasswordSubmitted && this.ChangePasswordForm.controls.newPassword.value==''"
                                        class="text text-danger">
                                     New Password is required and should be Non AlphaNumeric.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="confirmNewPassword">Confirm New Password<span style="color: red;">*</span></label>
                                    <input pattern="[a-zA-Z ]*" style="border: 1px solid #9eb7cf;" type="text" formControlName="confirmNewPassword"
                                            class="form-control" id="confirmNewPassword" required placeholder="" required>
    
                                            <div *ngIf="this.changePasswordSubmitted && this.ChangePasswordForm.controls.confirmNewPassword.value==''"
                                            class="text text-danger">
                                         Confirm New Password is required.
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                     
                       


                        <div class="row">
                            
                         
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button style="margin-top: 3%; margin-left: 87%;" type="submit" (click)="onSubmitChangePassword()"
                                        class=" mr-1   btn  btn-primary btn-air-success btn-lg">Submit</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>