<div class="card">
    <div class="card-header">

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
        </ngx-loading>



        <form class="form theme-form" [formGroup]="IRMNCHForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="From">Month</label>
                        <input (change)="getLHSReport()" class="form-control " formControlName="From" type="month"
                            name="From">
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label for="To">To Date</label>
                        <input (change)="getLHSReport()" class="form-control " formControlName="To" type="date"
                            name="To">
                    </div>

                </div> -->
                <!-- <div class="col-md-4">

                    <form id="searchForm">
                        <div class="form-group " style="margin-top: 27px;">
                            <div class="input-group float-right" id="filterAll">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                <input type="text" class="form-control" name="searchString"
                                    placeholder="Search any keyword..." [(ngModel)]="searchString">
                            </div>
                        </div>

                    </form>
                </div> -->


            </div>
        </form>
        <!-- 
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-success btn-air-success pull-left" style="margin-bottom: 15px; "
                    type="submit" (click)="exportexcel()"><span><i class="fa fa-download text-white "></i></span>
                    Export to Excel</button>
            </div>
            <div class="col-md-6 mt-2" style="text-align-last: right;">
                <h5>
                    {{irmnchPatientsList.length}} Records Total
                </h5>
            </div>
        </div> -->



        <div class="table-responsive" style="margin-top: 25px;" [hidden]="irmnchPatientsList.length == 0">
            <table class="table table-bordered table-striped " style="width: 100%;" id="reportTable">
                <thead>
                    <tr>

                        <th>Total LHS</th>
                        <th>Total LHW</th>
                        <th>Total Pending LHW</th>
                        <th>Total Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sum('totalLHS')| number}}</td>
                        <td>{{sum('totalLHW')| number}}</td>
                        <td>{{sum('totalPendingLHW')| number}}</td>
                        <td>{{sum('totalSubmited')| number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>