
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12">
            <div class="card" style="margin-top: 2%;">
              <div class="card-header" style="    border-bottom: 4px solid #229106;">
                    <h5>Training Management System Documents </h5>
                </div>
                <br><br>
                
                <!--   <div class="col-md-12">
                    <button class="btn btn-success" (click)="openFile('ADDING PARTICIPANTS - HRMIS.pdf')">
                        <i class="fa fa-eye"></i>
                        ADDING PARTICIPANTS - HRMIS
                    </button>
                </div>
                <br>

                
                <div class="col-md-12">
                    <button class="btn btn-success" (click)="openFile('TRINING MANAGEMENT SYSTEM - TRINING.pdf')">
                        <i class="fa fa-eye"></i>
                        TRINING MANAGEMENT SYSTEM - TRINING
                    </button>
                </div>
                

                <br>

                <div class="col-md-12">
                    <button class="btn btn-success" (click)="openFile('TRINING MANAGEMENT SYSTEM - EXTERNAL.pdf')">
                        <i class="fa fa-eye"></i>
                        TRINING MANAGEMENT SYSTEM - EXTERNAL
                    </button>
                </div>
                <br>

                <div class="col-md-12">
                    <button class="btn btn-success" (click)="openFile('TRINING MANAGEMENT SYSTEM - SCHEDULING.pdf')">
                        <i class="fa fa-eye"></i>
                        TRINING MANAGEMENT SYSTEM - SCHEDULING
                    </button>
                </div>
                <br> -->


                <div class="col-md-12">
                    <button class="btn btn-success" (click)="openFile('Training Management System - Manual - Final version.pdf')">
                        <i class="fa fa-eye"></i>
                        Training Management System - Training Manual Complete
                    </button>
                </div>


                <br><br>
            </div>
        </div>
    </div>
</div>