<div class="auth-bg">
    <div class="authentication-box " style="width: 750px; "  >
     
      <div class="card mt-4 p-4" style="background-color: #e8f0d9;">
        <div class="text-center"><img src="assets/images/GOP Logo.png" alt=""></div>
        <h4 class="text-center" style="margin-top: 10px;">Register</h4>
        <h5 class="text-center">Prequalification of Online Documentation</h5>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">Company Name</label>
                <input style=" border: 2px solid green;" class="form-control" type="text" placeholder="Pfizer">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">Mobile Number</label>
                <input style=" border: 2px solid green;" class="form-control" type="text" placeholder="0300-1234567">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Official Email</label>
            <input style=" border: 2px solid green;" class="form-control" type="text" placeholder="abc@gmail.com">
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">NTN Number</label>
                <input style=" border: 2px solid green;" class="form-control" type="text" placeholder="123456-7">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">STRN Number</label>
                <input style=" border: 2px solid green;"  class="form-control" type="text" placeholder="123456-7">
              </div>
            </div>
          </div>
    
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <input style=" border: 2px solid green;" class="form-control" type="password" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label">Confirm Password</label>
                <input style=" border: 2px solid green;" class="form-control" type="password">
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-form-label">BOD</label>
            <div class="form-row">
              <div class="col-sm-4">
                <select class="form-control mb-1">
                  <option>DD</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control mb-1">
                  <option>MM</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control mb-1">
                  <option>YYYY</option>
                  <option>1990</option>
                  <option>1991</option>
                  <option>1992</option>
                  <option>1993</option>
                </select>
              </div>
            </div>
          </div> -->
          <div style="margin-top: 10px;" class="form-row">
            <!-- <div class="col-sm-8">
              <div class=" mt-2 m-l-20">Already Register on Portal? <a routerLink="." (click)="attachSlips()">Attach Slips</a> </div>
            </div> -->
            <div class="col-sm-4">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
            
          </div>
          <!-- <div class="form-divider"></div> -->
          <!-- <div class="social mt-3">
            <div class="form-group btn-showcase d-flex">
              <button class="btn social-btn btn-fb d-inline-block"> <i class="fa fa-facebook"></i></button>
              <button class="btn social-btn btn-twitter d-inline-block"><i class="fa fa-google"></i></button>
              <button class="btn social-btn btn-google d-inline-block"><i class="fa fa-twitter"></i></button>
              <button class="btn social-btn btn-github d-inline-block"><i class="fa fa-github"></i></button>
            </div>
          </div> -->
        </form>
      </div>
      <div class="text-center"><img src="assets/images/HISDU Logo.png" alt=""></div>
    </div>
  </div>