.amcharts-amexport-item {
  display: none !important;
  border: 2px solid #777 !important;
}

.amcharts-amexport-top .amcharts-amexport-item > .amcharts-amexport-menu {
  top: -3px !important;
  left: 2px !important;
}
