<!-- Container-fluid starts -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" style="margin-top: 2%">
        <div class="card-header" style="border-bottom: 4px solid #229106">
          <div class="row">
            <div class="col-md-11">
              <h5>Participant Management >> Add External/Other Participants</h5>
              <!-- <p>All HR data in this training module is fetched through an integrated HRMIS system. An external candidate, that does not exist in HRMIS, is added in the training module’ local database via this section.
                Please click on the “add participant” button to add details of the person.</p> -->
            </div>
            <div class="col-md-1">
              <i type="button" class="fa fa-close" aria-label="Close" (click)="CloseModal()"></i>
            </div>
          </div>
        </div>
        <form [formGroup]="RegisterForm" class="form theme-form">
          <div class="card-body">
            <div class="row" *ngIf="this.IsError">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ContactType">Participant
                  </label>

                  <search-dropdown [items]="this.ParticepantList" [size]="'small'" [img]="'product'" [label]="'name'"
                    [uid]="'id'" formControlName="id">
                  </search-dropdown>

                  <!-- <select
                    style="border: 1px solid #9eb7cf"
                    id="id"
                    required
                    class="form-control"
                    formControlName="id"
                  >
                    <option selected value="">--Select Participant--</option>
    
                    <option
                      *ngFor="let index of this.ParticepantList"
                      [ngValue]="index.id"
                    >
                      {{ index.name}}
                    </option>
                  </select> -->
                  <!-- <ng-multiselect-dropdown
                                        [placeholder]="'Select Chairmanship of'"
                                        [settings]="dropdownSettingsOrg"
                                        [data]="MeetingOrganizer"
                                        [formControl]="this.RegisterForm.controls.meetingOrganizer"
                                        (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                    
                                      > 
                                      </ng-multiselect-dropdown>-->
                  <div *ngIf="parentSubmitted && this.RegisterForm.controls.id.value == 0" class="text text-danger">
                    Please Select participant
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2" style="margin-top: 4%">
                <div class="form-group">
                  <button class="btn btn-success" (click)="AddExternalparticipant()">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <H4 style="color: green; margin-top: 5%">Participants</H4>
        <div class="row">
          <div class="tab-pane pt-3 active show" id="patient-1" role="tabpanel">
            <!-- <h3>{{this.EventObj.PatientName}} - <small class="ng-class: this.EventObj.CurrentStatus == 'Confirmed' ? 'text-danger' : '';">{{this.EventObj.CurrentStatus}}</small> <small class="pull-right" ng-if="CreationDate">{{this.EventObj.CreationDate | date: 'dd/MM/yyyy hh:mm a'}}</small></h3> -->
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th scope="col" colspan="1"><strong>Sr No</strong></th>
                  <th scope="col" colspan="3"><strong>Name</strong></th>
                  <th scope="col" colspan="3"><strong>Father Name</strong></th>
                  <th scope="col" colspan="5"><strong>CNIC</strong></th>
                  <th scope="col" colspan="5">
                    <strong>Participant Type </strong>
                  </th>
                  <th scope="col" colspan="5"><strong>Mobile No </strong></th>
                  <th scope="col" colspan="5">
                    <strong>Working Place</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of this.ExternalParticipants; let i = index">
                  <td colspan="1">{{ i + 1 }}</td>
                  <td colspan="3">{{ s.Name }}</td>
                  <td colspan="3">{{ s.FatherName }}</td>
                  <td colspan="5">{{ s.CNIC }}</td>
                  <td colspan="5">{{ s.ParticipantType }}</td>
                  <td colspan="5">{{ s.MobileNo }}</td>
                  <td colspan="5">{{ s.WorkingPlace }}</td>
                </tr>
              </tbody>
            </table>
            <br />
            <div class="row" *ngIf="this.ExternalParticipants.length > 0">
              <div class="col-md-5"></div>
              <div class="col-md-4">
                <button class="btn btn-info" (click)="OnSubmit()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>